<div class="row">
	<div class="span9">
		<h3>{{fermenterName}}</h3>
		<div id="{{fermenterId}}_graphRegion"></div>
		<div class="graph-profile-heading">Fermenting: <span class="activeProfile">{{profileName}}</span> <a class="editProfile" title="Edit" href="#"><i class="icon-pencil"></i></a></div>
		<h6 class="activeStep">{{activeStep}}</h6>
		<div>
			<a class="changeProfile" href="#">[change profile]</a>
		</div>
		<br />
		<div id="{{fermenterId}}_heaterRegion"></div>
		<br />
		<!--<a id="{{fermenterId}}_history" class="history" href="#">History...</a>-->
	</div>
</div>

<div id="{{fermenterId}}_sampleRegion"></div>
<hr />