<div class="row">
	<div class="span9">
		<h3>{{fermenterName}}</h3>
		<div id="{{fermenterId}}_graphRegion"></div>
		<h4 class="activeProfile">Fermenting: <a class="changeProfile" href="#">{{profileName}}</a></h4>
		<br />
		<div id="{{fermenterId}}_heaterRegion"></div>
		<br />
		<a id="{{fermenterId}}_history" class="history" href="#">History...</a>
	</div>
</div>

<div id="{{fermenterId}}_sampleRegion"></div>