<div class="row">
	<div class="span9">
		<h3>{{fermenterName}}</h3>
		<div id="{{fermenterId}}_graphRegion"></div>
		<h4 class="activeProfile">Fermenting: {{profileName}}</h4>
		<h6 class="activeStep">{{activeStep}}</h6>
		<div>
			<a class="editProfile" href="#">[edit profile]</a>
			<a class="changeProfile" href="#">[change profile]</a>
		</div>
		<br />
		<div id="{{fermenterId}}_heaterRegion"></div>
		<br />
		<!--<a id="{{fermenterId}}_history" class="history" href="#">History...</a>-->
	</div>
</div>

<div id="{{fermenterId}}_sampleRegion"></div>
<hr />