<h2>{{name}}</h2>
<hr />
<div class="row">
	<div class="span2">
		<strong>Sensor:</strong><br />
		<strong>Control Mode:</strong><br />
	</div>
	<div class="span2">
		{{sensor}}<br />
		{{control_mode}}<br />
	</div>
</div>
<br />
{{#if loggedIn}}
<button class="edit" title="Edit Profile"><i class="icon-edit"></i> Edit Profile</button>
{{/if}}
<hr />
<h4>Steps</h4>
<table id="steps">
</table>
<br />
{{#if loggedIn}}
<button class="add-step" title="Add Step" class="btn btn-mini"><i class="icon-plus"></i> Add Step</button>
{{/if}}
<hr />
<h4>Override History</h4>
<ul id="overrides">
	{{#each overrides}}
		<li>{{dateFormat this.time format="MMMM Do YYYY, h:mm a"}} - {{this.action}}</li>
	{{/each}}
</ul>

